useDynLib(robslopes, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", ".getXlevels", "is.empty.model", "model.matrix",
               "model.response", "model.weights", "na.pass")
## export all regularly named functions
## (but allow for private functions whose name starts with a dot).name <- function(...)



export(TheilSen)
export(RepeatedMedian)
export(PassingBablok)
export(robslope)
export(robslope.fit)

